.syntaxContainer {
  border: 1.5px solid var(--buf-light-button-border-color);
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.syntax {
  font-family: var(--buf-mono-font);
  font-size: 1.1rem;
  letter-spacing: -0.05rem;
  background-color: #E2E8F0;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.syntaxFlex {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  font-weight: 300;
}

.legend {
  display: flex;
  align-items: center;
}

.legend .legendName {
  margin-right: 0.5rem;
}

.legend .legendContent {
  font-family: var(--buf-mono-font);
  display: flex;
  gap: 0.5rem;
}

.example {
  font-family: var(--buf-mono-font);
}
